$dark-blue: #003459;
$dark-blue-40: #0078cd;
$dark-blue-60: #00528c;
$dark-blue-80: #002a48;

$mon-yellow: #f7dba7;
$mon-yellow-40: #fceed5;
$mon-yellow-60: #f1d092;
$mon-yellow-80: #eec77e;

$netural-color-100: #00171f;
$netural-color-80: #242b33;
$netural-color-60: #667479;
$netural-color-40: #99a2a5;
$netural-color-20: #ccd1d2;
$netural-color-10: #ebeeef;
$netural-color-00: #fdfdfd;

$pink-red: #ff564f;
$green-light: #34c759;
$orange-shine: #ff912c;
$orange:  #ffb775;
$blue-sea: #00a7e7;

@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

$Gilroy-Bold: "Gilroy-Bold", sans-serif;
$Gilroy-Heavy: "Gilroy-Heavy", sans-serif;
$Gilroy-Light: "Gilroy-Light", sans-serif;
$Gilroy-Medium: "Gilroy-Medium", sans-serif;
$Gilroy-Regular: "Gilroy-Regular", sans-serif;
