section#partners {
	padding: 35px;
  .partners-showcase {
    display: flex;
    width: 1180px;
    height: 112px;
    align-items: flex-start;
  		justify-content:space-around;
		align-items: center;
  }
}
